@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        -List
        -Images
        -Anchor
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation 
        - Related Articles
        -Button
        -Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader	
        -Color    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
* {
        font-family: 'Source Sans Pro', sans-serif;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/* ----- TYPOGRAPHY ----- */
#hero > div > div {
        text-align: center;
        font-family:'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color:#fff;
        margin-top: 175px;
}
div > h1 {
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto;
}
div > h1 ~ p {
        font-size: 30px;
        font-weight: 300;
        margin: 0 auto;

}
#optimized {
        width: 640px;
        
}
#optimized > header {
        text-transform: uppercase;
        margin: 100px 0px 0px 0px;
        color: #3F3C45;
}
#optimized > header > p {
        font-size: 18px;
        font-weight: 300;
        line-height: 22.63px;
        margin: 0 auto;
}
#optimized > header > h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 44px;
        margin: 0 auto;
}
#optimized > p,
#optimized > ul {
        font-size: 16px;
        line-height: 24.91px;
        color: #000;
}
#optimized > ul {
        padding: 0px 0px 30px 20px;
}
i {
        font-size: 50px;
        font-weight: 900;
        color: #FE8360;
}
/* ----- IMAGES ----- */
header > div > div > img {
        position: absolute;
        width: 175px;
}
#hero {
        background: url(../img/computer-hero.jpg) no-repeat 0px;
        background-size: cover;
        padding: 50px;
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 1024px;
        margin: 0 auto;
}
/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- NAVIGATION ----- */
header > div {
        padding: 50px 70px 0px 70px;
}
header > div > nav,
header > div > p {
       display: flex;
       justify-content: end;
}
header > div > p {
        margin: 0px 0px 50px 0px;
}
header > div > nav > ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px 0px 14px 0px;
}

header > div > nav li {
        display: inline-block;
}

header > div > nav li > a {
        font: 16px 'Lato', sans-serif;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-color: #FE8360;
        padding: 15px 20px;
        margin-right: -4px;
        transition: 1s;
}
header > div > nav li > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}

/* ----- BUTTON----- */

.button > p > a {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-color: #FE8360;
        padding: 15px 20px;
        transition: 1s;
}
.button > p > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}

/* ----- FOOTER----- */
footer {
        background-color: #4D515C;
        background-size: cover;
        padding: 30px;
}
footer > div > div {
        display: inline-block;
        padding: 0px 100px 0px 0px;
}
footer > div > div > h4 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 22.63px;
        margin: 0 auto;
}
footer > div > div > nav > ul {
        list-style: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div > nav li > a {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
}
footer > div > div > nav li > a:hover {
        color: #fff;
}
footer > div > div:nth-child(2) > ul {
        list-style: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div:nth-child(2) > ul > li{
        font-size: 14px;
        font-weight: 600;
        line-height: 21.8px;
        color: #fff;
}
footer > div > div:nth-child(2) > ul > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
}
footer > div > div:nth-child(2) > ul > li > a:hover{
        color: #fff;
}
footer > div > div:nth-child(3){
       position: absolute;
}
footer > div > div:nth-child(3) > ul{
        list-style-type: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div:nth-child(3) > ul > li{
        display: inline-block;
}
footer > div > div:nth-child(3) > ul > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
        margin-right: 20px;
}
footer > div > div:nth-child(3) > ul > li > a:hover{
        color: #fff;
}
/* ----- RELATED ARTICLES ----- */
.flexbox {
        display: flex;
        margin: 0 auto;
}
.flexbox > section {
        display: flex;
        width: 310px;
        padding: 100px 0px 0px 0px; 
        margin: 0 auto;  
}
.flexbox > section > i {
        padding: 20px 30px 0px 0px;   
}
.flexbox > i {
        padding: 130px 30px 0px 0px;   
}
.flexbox > section > header > h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3F3C45;
        line-height: 22.63px;
}
.flexbox > section > header > p {
        font-size: 16px;
        font-weight: 400;
        color: #3F3C45;
        line-height: 24.91px;
}
/* ----- BENEFITS ----- */
#benefits {
        background: #51CCF8;
        background-size: cover;
        padding: 50px;
}
#benefits > div > div {
        color : #fff;
}
#benefits > div > div > p {
        font-size: 30px;
        font-weight: 300;
        line-height: 37.71px;
        text-transform: uppercase;
        margin: 0 auto;
}
#benefits > div > div > h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 62.85px;
        text-transform: uppercase;
}
#hosting {
        background: #FE8360;
        background-size: cover;
        padding: 50px;
}
#hosting > div > div {
        color : #fff;
}
#hosting > div > div > p {
        font-size: 30px;
        font-weight: 300;
        line-height: 37.71px;
        text-transform: uppercase;
        margin: 0 auto;
}
#hosting > div > div > h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 62.85px;
        text-transform: uppercase;
}
/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */