@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        -List
        -Images
        -Anchor
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation 
        - Related Articles
        -Button
        -Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader	
        -Color    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
* {
        font-family: 'Source Sans Pro', sans-serif;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/* ----- TYPOGRAPHY ----- */
#hero > div > div {
        text-align: center;
        font-family:'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color:#fff;
        margin-top: 175px;
}
div > p:first-child {
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto;
}
div > p:last-child {
        font-size: 30px;
        font-weight: 300;
        margin: 0 auto;

}
h1 {
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto; 
}
#index-main {
        width: 640px;
        padding: 100px 0px 0px 0px;
}
#index-main > header {
        text-transform: uppercase;
        color: #3F3C45;
}
#index-main > header > p {
        font-size: 18px;
        font-weight: 300;
        line-height: 22.63px;
        margin: 0 auto;
}
#index-main > header > h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 44px;
        margin: 0 auto;
}
#index-main > p,
#index-main > ul {
        font-size: 16px;
        line-height: 24.91px;
        color: #000;
}
#index-main > ul {
        padding: 0px 0px 30px 20px;
}
i {
        font-size: 50px;
        font-weight: 900;
        color: #FE8360;
}
#form > div > header > i{
        font-size: 20px;
        line-height: 20px;
}
#form > div > header > p{
        font-size: 18px;
        font-weight: 300;
        color: #3F3C45;
        line-height: 23px;
        text-transform: uppercase;
        margin: 0 auto;
}
#form > div > header > h2{
        font-size: 35px;
        font-weight: 700;
        color: #3F3C45;
        line-height: 44px;
        text-transform: uppercase;
        margin: 0 auto;
}
b {
        font-weight: 700;
        color:#3F3C45;
}
header > div > p > span {
        transition: 1s;
}
header > div > p > a {
        text-decoration: none;
        color:#3F3C45;
        transition: 1s;
}
header > div > p > a:hover {
        color:#FE8360;
        opacity: 1;
}
header > div > p > span:hover {
        color:#FE8360;
        opacity: 1;
}
thead > tr:first-child > th > span {
        font-weight: 700;
}
/* ----- IMAGES ----- */
header > div > div > h1 > a > img {
        position: absolute;
        width: 175px;
}
#hero {
        background: url(../img/computer-hero.jpg) no-repeat 0px;
        background-size: cover;
        padding: 50px;
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 1024px;
        margin: 0 auto;
}
/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- NAVIGATION ----- */
header > div {
        padding: 50px 70px 0px 70px;
}
header > div > nav,
header > div > p {
       display: flex;
       justify-content: end;
}
header > div > p {
        margin: 0px 0px 50px 0px;
}
header > div > nav > ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px 0px 14px 0px;
}

header > div > nav li {
        display: inline-block;
}

header > div > nav li > a {
        font: 16px 'Lato', sans-serif;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-color: #FE8360;
        padding: 15px 20px;
        margin-right: -4px;
        transition: 1s;
}
header > div > nav li > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}

/* ----- BUTTON----- */

.button > p > a {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-color: #FE8360;
        padding: 15px 40px;
        transition: 1s;
}
.button > p > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}
form  p > a {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-color: #FE8360;
        padding: 15px 80px;
        transition: 1s;
}
form > p > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}
/* ----- FOOTER----- */
footer {
        background-color: #4D515C;
        background-size: cover;
        padding: 30px;
}
footer > div > div {
        display: inline-block;
        padding: 0px 100px 0px 0px;
}
footer > div > div > h4 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        line-height: 22.63px;
        margin: 0 auto;
}
footer > div > div > nav > ul {
        list-style: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div > nav li > a {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
}
footer > div > div > nav li > a:hover {
        color: #fff;
}
footer > div > div:nth-child(2) > ul {
        list-style: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div:nth-child(2) > ul > li{
        font-size: 14px;
        font-weight: 600;
        line-height: 21.8px;
        color: #fff;
}
footer > div > div:nth-child(2) > ul > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
}
footer > div > div:nth-child(2) > ul > li > a:hover{
        color: #fff;
}
footer > div > div:nth-child(3){
       position: absolute;
}
footer > div > div:nth-child(3) > ul{
        list-style-type: none;
        padding: 0px;
        margin: 0 auto;
}
footer > div > div:nth-child(3) > ul > li{
        display: inline-block;
}
footer > div > div:nth-child(3) > ul > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.8px;
        text-decoration: none;
        color: #B6BCC7;
        margin-right: 20px;
}
footer > div > div:nth-child(3) > ul > li > a:hover{
        color: #fff;
}
/* ----- RELATED ARTICLES ----- */
.row {
        display: flex;
        justify-content: space-between;
}
#form > .row > header {
        width: 120px;
}
#form > .row > form {
        width: 850px;
        align-items: center;
}
.row > section {
        display: flex;
        width: 310px;
        padding: 100px 0px 0px 0px; 
        margin: 0 auto;  
}
.row > section > i {
        padding: 20px 30px 0px 0px;   
}
.row > i {
        padding: 130px 30px 0px 0px;   
}
.row > section > header > h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3F3C45;
        line-height: 22.63px;
}
.row > section > header > p {
        font-size: 16px;
        font-weight: 400;
        color: #3F3C45;
        line-height: 24.91px;
}
.row > div:last-child {
        background: url(../img/woman.jpg) no-repeat 0px;
        width: 400px;
        margin: 100px 0px 0px 30px;
        background-size: contain;
        position: relative;
        top: 0;
        left: 0;
}
.row > div:last-child > i {
        position: absolute;
        top: -20px;
        left: -25px;
}
/* ----- BENEFITS ----- */
#benefits {
        background: #51CCF8;
        background-size: cover;
        padding: 50px;
}
#benefits > div > div {
        color : #fff;
}
#benefits > div > div > p {
        font-size: 30px;
        font-weight: 300;
        line-height: 37.71px;
        text-transform: uppercase;
        margin: 0 auto;
}
#benefits > div > div > h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 62.85px;
        text-transform: uppercase;
}
#hosting {
        background: #FE8360;
        background-size: cover;
        padding: 50px;
}
#hosting > div > div {
        color : #fff;
}
#hosting > div > div > p {
        font-size: 30px;
        font-weight: 300;
        line-height: 37.71px;
        text-transform: uppercase;
        margin: 0 auto;
}
#hosting > div > div > h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 62.85px;
        text-transform: uppercase;
}
#form {
        background: #E7F5F8;
        background-size: cover;
        padding: 30px;
        margin-bottom: 30px;
}
form > label > input {
        width: 420px;
        background-color: #fff;
        border: 1px solid #3F3C45;
}
form > label > input:focus {
        outline: none;
        border: 1px solid #FE8360;
}
form > select {
        background-color: #fff;
        border: 1px solid #3F3C45;
}
form > select:focus {
        outline: none;
        border: 1px solid #FE8360;
}
table {
        border-collapse: collapse;
}
thead {
        border: 1px solid #E0DFE1;
        padding: 100px 0px 0px 0px;
}
thead > tr:first-child > th {
        font-size: 75px;
        font-weight: 200;
        line-height: 94px;
        color: #3F3C45;
}
thead > tr:nth-child(2) > td {
        font-size: 25px;
        font-weight: 400;
        line-height: 31.43px;
        color: #3F3C45;
        text-transform: uppercase;
        text-align: center;
        padding: 0px 0px 15px 0px;
}
thead > tr:nth-child(3) > td > a {
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #51CCF8;
        padding: 10px 50px;
        margin: 0px 0px 0px 30px;
}
thead > tr:first-child > th:first-child,
thead > tr:nth-child(2) > td:first-child,
thead > tr:nth-child(3) > td:first-child, 
thead > tr:nth-child(4) > td:first-child,
thead > tr:first-child > th:nth-child(2),
thead > tr:nth-child(2) > td:nth-child(2),
thead > tr:nth-child(3) > td:nth-child(2), 
thead > tr:nth-child(4) > td:nth-child(2),
thead > tr:first-child > th:nth-child(3),
thead > tr:nth-child(2) > td:nth-child(3),
thead > tr:nth-child(3) > td:nth-child(3), 
thead > tr:nth-child(4) > td:nth-child(3),
thead > tr:first-child > th:nth-child(4),
thead > tr:nth-child(2) > td:nth-child(4),
thead > tr:nth-child(3) > td:nth-child(4), 
thead > tr:nth-child(4) > td:nth-child(4){
        border-right: 1px solid #E0DFE1;
}
thead > tr:nth-child(4) > td {
        font-size: 16px;
        font-weight: 400;
        line-height: 24.91px;
        color: #3F3C45;
        text-align: center;
        padding: 50px 0px 0px 0px;
}
tbody {
        font-size: 16px;
        font-weight: 400;
        line-height: 24.91px;
        color: #3F3C45;
        text-align: center; 
}
tbody > tr:first-child > td:first-child,
tbody > tr:first-child > td:nth-child(2),
tbody > tr:first-child > td:nth-child(3),
tbody > tr:first-child > td:nth-child(4),
tbody > tr:nth-child(2) > td:first-child,
tbody > tr:nth-child(2) > td:nth-child(2),
tbody > tr:nth-child(2) > td:nth-child(3),
tbody > tr:nth-child(2) > td:nth-child(4),
tbody > tr:nth-child(3) > td:first-child,
tbody > tr:nth-child(3) > td:nth-child(2),
tbody > tr:nth-child(3) > td:nth-child(3),
tbody > tr:nth-child(3) > td:nth-child(4) {
        border: 1px solid #E0DFE1;
}
tbody > tr:nth-child(4) > td {
        border: 1px solid #E0DFE1;
        border-bottom: none;
}
tbody > tr:nth-child(5) > td {
        border: 1px solid #E0DFE1;
        border-top: none;
        padding: 30px;
}
tbody > tr:nth-child(5) > td > a {
        font-size: 16px;
        font-weight: 700;
        line-height: 20.11px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #FE8360;
        padding: 10px 50px;
        transition: 1s;
}
tbody > tr:nth-child(5) > td > a:hover {
        background-color: #51CCF8;
        opacity: 1;
}
/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */